* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box-container{
	display: flex;
	/*flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start; used with flex wrap. works like align-items
	column-gap: 1em;
	row-gap: 3em;
	*/
	border: 10px solid black;
	height: 90vh;
}

.box {
	width: 100px;
	height: 100px;
	font-size: 4em;
	border-radius: 10px;
	text-align: center;
}

#box1 {
	/*align-self: self-start;
	order: -1;
	*/
	background-color: rgb(255, 82, 82);
}

#box2 {
	background-color: rgb(207, 207, 81);
}

#box3 {
	background-color: rgb(87, 224, 87);
}

#box4 {
	background-color: rgb(87, 87, 212);
}

#box5 {
	background-color: rgb(219, 134, 73);
	/* flex-grow: 1;
	flex-shrink: 5;
	flex-basis: 300px;
	flex: 1;
	align-self: flex-end;
	*/
}